{% load static %}

<head>
  <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
  <title>顧客管理系統</title>
  <link rel="stylesheet" href="{% static 'style2.css' %}" />
</head>

<body>
  <div id="wrapper">
    <div id="sidebar">
      <header>
        <div id="logo">
          <img
            src="{% static 'logo1.jpg' %}"
            alt=""
            width="250;"
            style="display: block; margin: auto"
          />
        </div>
      </header>
      <ul style="list-style-type: none">
        <li><a href='http://140.119.97.4:8888/catalog/crm'>CRM</a></li>
        <li><a href='http://140.119.97.4:8888/catalog/om'>OM</a></li>
      </ul>
    </div>
    <div id="main">
      <ul style="list-style-type: none">
        <li><a href='http://140.119.97.4:8888/catalog/welcome' style="color: brown">Dashboard</a></li>
        <li>></li>
        <li><a href='http://140.119.97.4:8888/catalog/crm' style="color: brown">CRM</a></li>
        <li>></li>
        <li>推播紀錄</li>
      </ul>
      <div id="btn">
        <script language="javascript">
          function logout() {
            var yes = confirm("確定要登出嗎?");
            if (yes) {
              window.location.href = 'http://140.119.97.4:8888';
            }
          }
        </script>
        <input type="button" value="登出" id="logOut" onclick="logout();" />
      </div>
    </div>
    <div id="crm">
      <nav>
        <ul>
          <li><a href="http://140.119.97.4:8888/catalog/crm/salesrecord">銷售紀錄</a></li>
          <li><a href='http://140.119.97.4:8888/catalog/crm/salesanalysis' >銷售分析</a></li>
          <li><a href='http://140.119.97.4:8888/catalog/crm/rfm'>顧客分群</a></li>
          <li><a href='http://140.119.97.4:8888/catalog/crm/broadcast' style="
            background: rgba(182, 173, 157, 0.5);
            border: solid;
            border-color: rgba(182, 173, 157, 0.8);
            padding: 8px 20px;
            border-radius: 20px;
            color: #382f21;
          ">推播紀錄</a></li>
        </ul>
      </nav>
      <div id="btnnn">
        <input
          type="button"
          value="紀錄"
          id="srall"
          onclick="location.href='http://140.119.97.4:8888/catalog/crm/broadcast'"
          style="background-color: rgba(182, 173, 157, 0.4)"
        />
        <input
          type="button"
          value="成效分析"
          id="srdate"
          onclick="location.href='http://140.119.97.4:8888/catalog/crm/broadcast/analysis'"
        />

      </div>
      <div id="brd">
        <table border="1" cellpadding="0" cellspacing="0" style="display:block;height: 303px;
        width: 695px;
        position: relative;
        top: 220px;
        left: 400px;
        background-color: #f4f4ed;
        z-index: 5;
        position:fixed;

        overflow-x:hidden;
        overflow-y:auto;
        white-space:nowrap;
        ">

        <tr>
            <th style="position: sticky; top:0;background-color:rgba(230,210,210);padding: 10px 38px;">年</th>
            <th style="position: sticky; top:0;background-color:rgba(230,210,210);padding: 10px 38px;">月</th>
            <th style="position: sticky; top:0;background-color:rgba(230,210,210);padding: 10px 38px;">周</th>
            <th style="position: sticky; top:0;background-color:rgba(230,210,210);padding: 10px 40px;">成長率</th>
            <th style="position: sticky; top:0;background-color:rgba(230,210,210);padding: 10px 40px;">推播品項</th>
            <th style="position: sticky; top:0;background-color:rgba(230,210,210);padding: 10px 40px;">對象</th>

          </tr>

          <tr>
            <td style="padding: 10px 10px;">2021</td>
            <td style="padding: 10px 10px;">1</td>
            <td style="padding: 10px 10px;">0</td>
            <td style="padding: 10px 10px;">3.417</td>
            <td style="padding: 10px 10px;">Banana</td>
            <td style="padding: 10px 10px;">潛力顧客</td>
          </tr>
          <tr>
            <td style="padding: 10px 10px;">2021</td>
            <td style="padding: 10px 10px;">1</td>
            <td style="padding: 10px 10px;">0</td>
            <td style="padding: 10px 10px;">3.417</td>
            <td style="padding: 10px 10px;">Green Tea</td>
            <td style="padding: 10px 10px;">活躍顧客</td>
          </tr>

          <tr>
            <td style="padding: 10px 10px;">2020</td>
            <td style="padding: 10px 10px;">12</td>
            <td style="padding: 10px 10px;">52</td>
            <td style="padding: 10px 10px;">3</td>
            <td style="padding: 10px 10px;">Black Tea</td>
            <td style="padding: 10px 10px;">潛力顧客</td>
          </tr>

          <tr>
            <td style="padding: 10px 10px;">2020</td>
            <td style="padding: 10px 10px;">12</td>
            <td style="padding: 10px 10px;">52</td>
            <td style="padding: 10px 10px;">3</td>
            <td style="padding: 10px 10px;">Green Tea</td>
            <td style="padding: 10px 10px;">活躍顧客</td>
          </tr>

          <tr>
            <td style="padding: 10px 10px;">2020</td>
            <td style="padding: 10px 10px;">12</td>
            <td style="padding: 10px 10px;">51</td>
            <td style="padding: 10px 10px;">-0.25</td>
            <td style="padding: 10px 10px;">CornCheese</td>
            <td style="padding: 10px 10px;">全部顧客</td>
          </tr>

          <tr>
            <td style="padding: 10px 10px;">2020</td>
            <td style="padding: 10px 10px;">12</td>
            <td style="padding: 10px 10px;">50</td>
            <td style="padding: 10px 10px;">-0.556</td>
            <td style="padding: 10px 10px;">Black Tea</td>
            <td style="padding: 10px 10px;">全部顧客</td>
          </tr>

        </table>


      </div>
    </div>
  </div>
</body>
